# Data urls
POSTS_URL=https://jsonplaceholder.typicode.com/posts
PHOTOS_URL=https://jsonplaceholder.typicode.com/photos
USERS_URL=https://jsonplaceholder.typicode.com/users

# How many minutes to keep posts in cache.
CACHE_PERIOD=1

# Handle Rate Limiter here
# time window
limit_minutes=1
# max requests
limit_max_requests=50